@font-face {
    font-family: "icons";
    src: url("./icons.eot?7661714722f607c34723ced0b3d4a615#iefix") format("embedded-opentype"),
url("./icons.woff2?7661714722f607c34723ced0b3d4a615") format("woff2"),
url("./icons.woff?7661714722f607c34723ced0b3d4a615") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-00-baseline:before {
    content: "\f101";
}
.icon-archlinux:before {
    content: "\f102";
}
.icon-bitcoin:before {
    content: "\f103";
}
.icon-codeberg:before {
    content: "\f104";
}
.icon-github:before {
    content: "\f105";
}
.icon-gitlab:before {
    content: "\f106";
}
.icon-ko-fi:before {
    content: "\f107";
}
.icon-liberapay:before {
    content: "\f108";
}
.icon-mail:before {
    content: "\f109";
}
.icon-matrix:before {
    content: "\f10a";
}
.icon-new_tab:before {
    content: "\f10b";
}
.icon-paypal:before {
    content: "\f10c";
}
.icon-phone:before {
    content: "\f10d";
}
.icon-teamspeak:before {
    content: "\f10e";
}
.icon-telegram:before {
    content: "\f10f";
}
.icon-wire:before {
    content: "\f110";
}
