include include/link
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Scrumplex &middot; A passionate developer
        link(rel="stylesheet", href="scss/application.scss")
        include include/head
        meta(name="page-topic" content="Scrumplex")
    body.scroll
        include include/noscript

        div#particles-js
            div.particle-gradient

        div.container.wrapper#wrapper
            div.sheet.sheet-splash.wavy#main
                div.row
                    div.col-med-5.text-center.flex.flex-column.flex-justify-between
                        div.row
                            div.col
                                img.scrumplex-logo(src="img/scrumplex.svg", alt="Scrumplex Logo", title="Scrumplex", height=200, width=200)
                                h1 Scrumplex
                                strong he/him, they/them
                        div.row
                            div.col-med-6
                                h2 Development
                                +icon-link("codeberg", "Codeberg", "https://codeberg.org/Scrumplex")
                                +icon-link("github", "GitHub", "https://github.com/Scrumplex")
                                +icon-link("gitlab", "GitLab.com", "https://gitlab.com/Scrumplex")
                            div.col-med-6
                                h2 Donate
                                +icon-link("github_sponsors", "GitHub Sponsors", "https://github.com/sponsors/Scrumplex")
                                +icon-link("liberapay", "Liberapay", "https://liberapay.com/Scrumplex/donate")
                                +icon-link("paypal", "PayPal", "https://www.paypal.me/Scrumplex")
                                +icon-link("ko-fi", "Ko-Fi", "https://ko-fi.com/scrumplex")
                    div.col-med-7
                        blockquote.text-right
                            | Converting coffee to code...
                            |
                            span.text-spinner#text-spinner(hidden) |
                        include include/main

                div.row
                    include include/footer

            div.sheet.wavy#projects(hidden)
                include include/projects

            div.sheet.wavy#contact(hidden)
                include include/contact

            div.sheet.wavy#privacy(hidden)
                div.row: div.col
                    h1 Privacy Policy
                    p.
                        Privacy information for services hosted on #[code scrumplex.net], #[code sefa.cloud] and #[code duckhub.io] (and all subdomains)

                div.row: div.col: p.
                    Every service collects log-data. This includes IP addresses, browser user-agents and visited sites.
                    These are not used to track the user, but are only collected for operation purposes. #[br]
                    Some services may require you to enter some kind of username or email-address to access them.
                    These services can not operate without this information.
                    You may choose to use anonymous or pseudonymous usernames or email addresses.
                    All personal data (such as, but not limited to names, addresses or telephone numbers) shall always be in line with the General Data Protection Regulation. #[br]
                    No data is ever processed to track user activity.

        div.scroll-indicator
            h1.text-center ▾
        script(type="module", src="js/application.js")
        script(type="module", src="js/particles.js")
