@use "@fontsource/fira-sans/scss/mixins" as FiraSans;
@use "@fontsource/josefin-sans/scss/mixins" as JosefinSans;

@import "variables";

@include FiraSans.faces(
    // TODO: make this cleaner
    $directory: "~node_modules/@fontsource/fira-sans/files"
);

@include JosefinSans.faces(
    // TODO: ditto
    $directory: "~node_modules/@fontsource/josefin-sans/files"
);

body {
    color: $colorTextPrimary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.375;
    @include main-font;

    @media (prefers-color-scheme: dark) {
        color: $colorTextPrimaryDark;
    }
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
    overflow-wrap: break-word;
}

.text-right {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    @include alt-font;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    @extend h5;
}

a {
    color: $colorBrand;
}

.icon-2x {
    font-size: 2em;
}
