-
    let footerLinks = [
        {
            href: "#projects",
            text: "Projects",
            scroll: "#projects"
        },
        {
            href: "#contact",
            text: "Contact",
            scroll: "#contact"
        },
        {
            href: "#privacypolicy",
            text: "Privacy Policy",
            scroll: "#privacy"
        },
        {
            href: "https://stats.uptimerobot.com/83xx6s98Y",
            text: "Status",
            external: true
        }
    ];


div.col.text-right
    each link, index in footerLinks
        span= index > 0 ? " · " : ""
        +link(link.external, false, scroll=link.scroll)(href=link.href)= link.text
