meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
meta(name="robots" content="index,follow")

link(rel="shortcut icon" type="image/png" sizes="96x96" href="img/scrumplex_round.png?width=96")
link(rel="shortcut icon" type="image/png" sizes="32x32" href="img/scrumplex_round.png?width=32")
link(rel="shortcut icon" type="image/png" sizes="16x16" href="img/scrumplex_round.png?width=16")
link(rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="img/scrumplex_round.png?width=144")
link(rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="img/scrumplex_round.png?width=114")
link(rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="img/scrumplex_round.png?width=72")
link(rel="apple-touch-icon-precomposed" type="image/png" href="img/scrumplex_round.png?width=57")

meta(name="description" content="Learn more about the work of Scrumplex on this website")
meta(name="keywords" content="Scrumplex, scrumplex.net, Arch Linux, free software, GNU, FSF, open source, gitlab")
meta(name="author" content="Scrumplex")
meta(name="og:title" content="Scrumplex - A passionate developer")
meta(name="og:type" content="website")
meta(name="og:description" content="Hello there, my name is Sefa. Learn more on my website")
