-
    function isExternalURL(href) {
        return href.startsWith("http://") || href.startsWith("https://") || href.startsWith("//")
    }


mixin link(external, hideExternalIcon, scroll)
    if (external)
        a(href!=attributes.href, class!=attributes.class, title=attributes.title, target="_blank", rel="noopener")
            if (!hideExternalIcon)
                i.icon-new_tab
                | &nbsp;
            block
    else
        a(href!=attributes.href, class!=attributes.class, title!=attributes.title, data-scroll=scroll)
            block


mixin icon-link(name, title, href)
    +link(true, true)(href=href class=`link link-${name}`, title=title)
        i.icon-2x(class=`icon-${name}`)
