p.text-justify.
    Hello there,#[br]
    my name is Sefa or, as you might have seen me on the Internet, Scrumplex.
    I am an enthu&shy;siastic developer from <b>Germany</b> who is wor&shy;king on their bachelor's degree.
    I invest lots of my time into playing around with many tech&shy;nologies.
    Linux is my primary interest. I maintain multiple servers and con&shy;tri&shy;bute to various open source tech&shy;nologies around the Linux space.
    As for pro&shy;gramming languages, I primarily use C/C++, Python, Bash, Rust and Java.
    But I always try to in&shy;corporate other languages as well, if they fit the use-case.<br>
    I know my way around CI/CD pro&shy;fessional&shy;ly, especially inter&shy;acting with GitLab CI, Kubernetes and all the technologies around these.
    My daily com&shy;puting is shaped by #[+link(true, false)(href="https://gnu.org/philosophy/free-sw.html") free software].
    I generally pub&shy;lish all my work under a copyleft license, the same as most of the software I use.
    If you want to see what I am working on right now, go to any of the platforms linked on this page.
