p.text-justify.
    Hello there,#[br]
    I am Scrumplex, but you can call me Scrum, Scrump or Sefa.
    I am an enthusiastic developer from <b>Germany</b>, and I invest lots of my time into playing around with many technologies.
    Linux is my primary interest, as I maintain multiple servers and contribute to various open source technologies around the Linux space.
    As for programming languages, I primarily use C/C++, Python, Bash, Go, Rust and Kotlin.
    But I always try to incorporate other languages as well, if they fit the use-case.<br>
    I know my way around CI/CD professionally, especially working with GitLab CI, Flux CD, Kubernetes and all the technologies around these.
    And in an effort to apply my DevOps skills at home, I also do lots of #[+link(true, false)(href="https://nixos.org") Nix] stuff.
    My daily computing is shaped by #[+link(true, false)(href="https://gnu.org/philosophy/free-sw.html") free software] and in an effort to ensure that it stays that way I generally publish all my work under a copyleft license.
    If you want to see what I am working on right now, go to any of the code forges linked on this page.
