mixin project(title, logoImage, logoAlt, websiteHref, sourceHref)
    div.col-smol-6.col-med-4.flex.flex-column.flex-justify-between
        div
            img.m-center(src=logoImage, alt=logoAlt, title=title, style="height: 70px", loading="lazy")
            h3.text-center= title
            p: block

        div
            if (websiteHref)
                +link(true, false)(href=websiteHref).btn.btn-primary
                    | Website
            if (sourceHref)
                +link(true, false)(href=sourceHref).btn.btn-accent
                    | Source Code


div.row
    div.col
        h2 Current Projects

div.row
    +project("Prism Launcher", "img/prismlauncher.svg", "Prism Launcher Logo", "https://prismlauncher.org", "https://github.com/PrismLauncher/PrismLauncher")
        | A custom launcher for Minecraft that allows you to easily manage multiple installations of Minecraft at once.

    +project("AUR packages", "img/archlinux.svg", "Arch Linux Logo", "https://aur.archlinux.org/packages/?K=Scrumplex&SeB=M", "https://codeberg.org/Scrumplex/PKGBUILDs")
        | I am maintaining several packages on the Arch Linux User Repository.

    +project("libvibrant", "img/vibrant.svg", "libvibrant Logo", null, "https://github.com/libvibrant/libvibrant")
        | A command-line-interface and a C&nbsp;library to adjust color vibrancy of various X11 outputs.

div.row
    div.col
        h2 Legacy Projects

div.row
    +project("PASSY", "img/passy.svg", "PASSY Logo", null, "https://gitlab.com/PASSYpw/PASSY")
        | A beautiful password manager utilizing modern web technologies.

    +project("Waves.js", "img/waves.js.svg", "Waves.js Logo", null, "https://gitlab.com/PASSYpw/Waves.js")
        | A JQuery plugin providing authentic Material Design ripples.

    +project("Sprummlbot", "img/sprummlbot.png", "Sprummlbot Logo", "https://scrumplex.rocks/cloud/sprummlbot-archive.tar.bz2", "https://gitlab.com/Scrumplex/Sprummlbot")
        | A lightweight TeamSpeak 3 ServerAdmin Bot, adding many missing features to TeamSpeak 3 servers.

    +project("ExitNow", "img/exitnow.png", "ExitNow Logo", "", "https://gitlab.com/Scrumplex/ExitNow")
        | A simple application, providing an easy method to kill foreground windows with a shortcut.
